{% load static %}

<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>

<body>

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

<div class="container" style="width: 50%">
<br/><br/>
<img src="{% static 'main/deepjay.png' %}" style="width: 100%" />
<hr/>

<div id="button-div" align="left">
<input type="file" id="video-upload" onchange="startProcess()">
<p id="video-upload-text" style="color: #777">Please upload a video.</p>
<!-- <button id="start-button">Run</button> -->
</div>

<div class='progress-wrapper'>
  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message" style="color: #777"></div>
<br/>

<div class='progress-wrapper'>
  <div id='progress-bar-scene' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message-scene" style="color: #777"></div>
<br/>

<div class='progress-wrapper'>
  <div id='progress-bar-music' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message-music" style="color: #777"></div>
<br/>

<div id="video-container" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5)">
<div id="video-output" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #FFF; border-radius: 8px; padding: 16px;" align="center">
</div>
</div>

<br/>
<br/>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script>
  function customProgressInfer(progressBarElement, progressBarMessageElement, progress) {
    progressBarElement.style.backgroundColor = '#68a9ef';
    progressBarElement.style.width = progress.percent + "%";
    progressBarMessageElement.innerHTML = (
      "Inference: " + progress.percent + "%"
    );
}

function customSuccessInfer(progressBarElement, progressBarMessageElement) {
  progressBarElement.style.backgroundColor = '#3ca375';
  progressBarMessageElement.innerHTML = 'Completed inference of VA values.'

  document.getElementById("progress-bar-message-scene").innerHTML = "Running scene detection...";
}

function customProgressScene(progressBarElement, progressBarMessageElement, progress) {
  progressBarElement.style.backgroundColor = '#68a9ef';
  progressBarElement.style.width = progress.percent + "%";
  progressBarMessageElement.innerHTML = (
    "Scene Detection: " + progress.percent + "%"
  );
}

function customSuccessScene(progressBarElement, progressBarMessageElement) {
  progressBarElement.style.backgroundColor = '#3ca375';
  progressBarMessageElement.innerHTML = 'Completed scene detection.'
  // document.getElementById("progress-bar-message-music").innerHTML = "Running music matching...";
}

function customProgressMusic(progressBarElement, progressBarMessageElement, progress) {
  progressBarElement.style.backgroundColor = '#68a9ef';
  progressBarElement.style.width = progress.percent + "%";
  progressBarMessageElement.innerHTML = (
    "Music Pairing: " + progress.percent + "%"
  );
}

function customSuccessMusic(progressBarElement, progressBarMessageElement) {
  progressBarElement.style.backgroundColor = '#3ca375';
  progressBarMessageElement.innerHTML = "Completed music matching.";

  document.getElementById("video-container").style.display = "block";

  document.getElementById("video-output").innerHTML = (
   '<h2>Video Output</h2><hr/><p>This is your video after DeepJay\'s magic. Enjoy!</p><video controls style="width: 100% !important; height: auto !important;"><source src="{% static "main/GLA_output.mov" %}" type="video/mp4">Your browser does not support the video tag.</video>' 
  )
}

function startProcess() {
  var videoUpload = document.getElementById("video-upload");
  document.getElementById("video-upload-text").innerHTML = "Video " + videoUpload.files[0].name + " received.";

  document.getElementById("video-upload").style.display = "none";
  document.getElementById("progress-bar-message").innerHTML = "Waiting for video to load...";

  console.log("Starting");

  var request = new XMLHttpRequest();
  request.open('GET', 'http://localhost:8000/start/' + videoUpload.files[0].name, true);

  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
      // Success!
      var data = JSON.parse(request.responseText);

      // vanilla JS version
      var progressUrl = "celery-progress/" + data.task_id;
      var progressSceneUrl = "celery-progress/" + data.task_id2;
      var progressMusicUrl = "celery-progress/" + data.task_id3;

      console.log(progressUrl);
      console.log(progressSceneUrl);
      console.log(progressMusicUrl);

      // document.addEventListener("DOMContentLoaded", function () {
      CeleryProgressBar.initProgressBar(progressUrl, {
        onProgress: customProgressInfer,
        onSuccess: customSuccessInfer
      });

      CeleryProgressBar.initProgressBar(progressSceneUrl, {
        progressBarId: "progress-bar-scene",
        progressBarMessageId: "progress-bar-message-scene",
        onProgress: customProgressScene,
        onSuccess: customSuccessScene
      });

      CeleryProgressBar.initProgressBar(progressMusicUrl, {
        progressBarId: "progress-bar-music",
        progressBarMessageId: "progress-bar-message-music",
        onSuccess: customSuccessMusic,
        onProgress: customProgressMusic
      });
    } else {
      // We reached our target server, but it returned an error
    }
  };

  request.onerror = function() {
    // There was a connection error of some sort
  };

  request.send();
}

$(document).ready(function() {
  document.getElementById("video-container").style.display = "none";
  // $('#start-button').on('click', startProcess);
})
</script>

</body>

</html>